<suite name = "Suite1" parallel="methods" thread-count="1">

    <test name = "demotest1">
        <classes>
            <class name = "org.test.Group11TestNGTest" />
        </classes>
    </test>

    <test name = "demotest2">
        <classes>
            <class name = "org.test.Group11TestNGTest2" />
        </classes>
    </test>

</suite>